* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

@font-face {
    font-family: 'Bebas';
    src: url('/assets/fonts/BebasNeue-Regular.otf');
}

header {
    position: fixed;
    background: #333;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

header #brand {
    float: left;
    width: 40%;
}

header #brand img {
    height: 80px;
    margin-left: 100px;
    cursor: help;
}

nav {
    float: right;
}

nav a {
    display: inline-block;
    padding: 21px;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
}

nav a:hover {
    color: #e3a857;
}

.wrap {
    margin-top: 80px;
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

.wrap .col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    transition: 0.2s linear;
    position: relative;
}

.wrap .col::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.wrap .col .col-content {
    text-align: center;
    color: #fff;
    z-index: 2;
    padding: 10px;
    font-family: 'Bebas', sans-serif;
}

.wrap .col .col-content p {
    font-size: 20px;
}

.wrap .col.show .col-content p {
    display: block;
}

.wrap .col.show {
    height: 100%;
}

.wrap .col.hide {
    visibility: hidden;
    height: 0;
}

.wrap .col .col-content a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    display: block;
}

.wrap .col:hover {
    width: 100%;
}

.wrap .col:hover .col-content p {
    font-size: 24px;
}

.tsc {
    background: url('/img/TSC Background.png') center center;
    background-size: cover;
}

.vr {
    background: url('/img/VR Background.jpg') center center;
    background-size: cover;
}

.merch {
    background: url('/img/MERCH Background.jpg') center center;
    background-size: cover;
}

.nucleus {
    background: url('/img/NUCLEUS Background.png') center center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.show {
    display: flex;
}

.overlay .overlay-content {
    text-align: center;
    background: #333;
    z-index: 6;
    color: #fff;
    font-family: 'Bebas', sans-serif;
    padding: 25px;
}

.overlay .overlay-content h1 {
    font-size: 38px;
    border-bottom: 3px solid #e3a857;
    margin-bottom: 10px;
}

.overlay .overlay-content p {
    font-size: 22px;
}

.overlay .overlay-content p.boxed {
    border-top: 1px solid #e3a857;
    border-bottom: 1px solid #e3a857;
    padding: 5px;
    margin: 5px 0;
}

.overlay .overlay-content a {
    text-decoration: none;
    color: #e3a857;
    font-size: 22px;
}

.overlay .close-btn {
    color: #e3a857;
    z-index: 6;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.45);
}

@media (max-width: 1024px) {
    nav {
        display: none;
    }

    header #brand {
        width: 100%;
        float: none;
        text-align: center;
    }

    header #brand img {
        margin: 0;
    }

    .wrap {
        display: block;
    }

    .wrap .col {
        width: 100%;
        height: 25%;
    }

    .wrap .col .col-content a {
        font-size: 26px;
    }

    .wrap .col .col-content p {
        display: none;
    }
}